{
  "swagger": "2.0",
  "info": {
    "title": "Gitlab api",
    "description": "gitlab api",
    "version": "0.1.0"
  },
  "host": "yad2yad.online/gitlab_api",
  "basePath" : "/api/v1",
  "schemes": [ "http" ],
  "paths": {
    "/users": {
      "get": {
        "summary": "Returns a list of users.",
        "produces" : ["application/xml", "application/json"],
        "responses": {
          "200": {
            "description": "Array of user objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                  
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "Returns a list of projects.",
        "produces" : ["application/xml", "application/json"],
        "responses": {
          "200": {
            "description": "A JSON array of projects objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "summary": "Returns a project deatiles",
        "produces" : ["application/xml", "application/json"],
        "parameters": [{"name": "id", "in": "path", "required": true, "type": "integer", "description": "id of project to get"}],
        "responses": {
          "200": {
            "description": "A Project object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                  
                }
              }
            }
          }
        }
      }
    }
  }
}